/* Copyright © 2016 Jan Keromnes. All rights reserved.
 * The following code is covered by the MIT license. */

.board {
  display: flex;
  flex-direction: column;
  cursor: default;
  user-select: none;
}

.row {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.tile {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
}

.tile:hover, .tile.playable {
  outline: 2px solid yellow;
  outline-offset: -2px;
}

.board-catan {
  background-color: lightblue;
}

.board-chess {
  background: sienna;
  flex-direction: column-reverse;
  counter-reset: row;
}

.board-chess > .row {
  counter-increment: row;
  counter-reset: column;
}

.board-chess > .row > .tile {
  counter-increment: column;
}

.board-chess > .row:nth-of-type(even) > .tile:nth-of-type(odd),
.board-chess > .row:nth-of-type(odd) > .tile:nth-of-type(even) {
  background: wheat;
}

.board-chess::before, .board-chess::after,
.board-chess > .row::before, .board-chess > .row::after,
.board-chess > .row:first-of-type > .tile::before,
.board-chess > .row:last-of-type > .tile::after {
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
}

.board-chess::before, .board-chess::after {
  content: "";
  flex-basis: 0;
  flex-grow: 0.5;
}

.board-chess > .row::before, .board-chess > .row::after {
  content: counter(row);
  flex-basis: 0;
  flex-grow: 0.5;
}

.board-chess > .row:first-of-type > .tile::before,
.board-chess > .row:last-of-type > .tile::after {
  content: counter(column, upper-alpha);
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.board-chess > .row:first-of-type > .tile::before {
  top: 100%;
}

.board-chess > .row:last-of-type > .tile::after {
  top: -50%;
}

.board-chess .piece {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  height: 100%;
}

.board-chess .white.piece {
  color: white;
  -webkit-text-stroke: 0.5px black;
}

.board-chess .black.piece {
  color: black;
}

.board-go {
  background: wheat;
}

.board-go > .row > .tile::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.board-go > .row > .tile:not(:last-of-type)::after {
  border-top: 1px solid black;
}

.board-go > .row:not(:last-of-type) > .tile::after {
  border-left: 1px solid black;
}

.board-go > .row:nth-of-type(6n+4) > .tile:nth-of-type(6n+4)::before {
  content: "";
  position: absolute;
  background-color: black;
  border-radius: 100%;
  top: 40%;
  left: 40%;
  width: calc(20% + 0.5px);
  height: calc(20% + 0.5px);
}

.board-go .stone {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.board-go .black.stone {
  background-color: black;
}

.board-go .white.stone {
  border: 1px solid black;
  background-color: white;
}

.board-scrabble .tile {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.board-scrabble .tile:not(:empty), .scrabble-letter {
  background-color: moccasin;
}

.board-scrabble .double-letter:empty {
  background-color: lightskyblue;
}

.board-scrabble .double-word:empty {
  background-color: lightsalmon;
}

.board-scrabble .triple-letter:empty {
  background-color: dodgerblue;
}

.board-scrabble .triple-word:empty {
  background-color: red;
}
